*{
    box-sizing: border-box;
}

body{
    background-color: rgb(228, 228, 228);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px;
}

header{
    background-image:url(imagens/bg-3.jpg) ;
    background-size: cover;
    margin: 0px 0px;
    height: 800px;
    width: auto;
}

nav ul{  
    float: right;
    list-style: none;
    margin: 20px;
    padding: 20px 30px;
    text-transform: uppercase;
    display: flex;
}

nav a{
    padding: 15px 15px;
    margin: 10px;
    text-decoration: none;
    border: 1.5px solid white;
    color: white;
    font-weight: 500;
    float: right;
    background-color: rgba(128, 128, 128, 0.5);
}

h1{
    display: flex;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 80px;
    padding-top: 300px;
    padding-left: 450px;
    text-shadow: 3px 3px black;
}

.header-btn{
    display: flex;
    width: 280px;
    margin-top: 150px;
    margin-left: 800px;
    border-bottom: 2px solid whitesmoke;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
}

main{
    width: 100%;
    height: auto;
    
}

section{
    background-color: white;
    margin: 20px 40px;
    height: 300px;
    display: flex;
}

.seletores, .posicionamento, .fontes-icones{
    
}

h3{
    text-align: center;
    background-color: rgb(92, 90, 90);
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 15px;
}

article{
    background-color: white;
    margin: 20px 40px;
    padding-top: 5px;
    height: 200px;
}

h2{
    background-color: whitesmoke;
    margin: 10px;
    border-bottom: 2px solid gray;
    padding: 10px;
}

article p{
    margin: 10px;
    padding: 5px;
}